html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  width: 50vw;
  height: 100vw;
  padding-left: 0px;
}

.column {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid {
  grid-auto-flow: column;
  grid-row-gap: 5px;
  -ms-grid-columns: 2fr;
  grid-template-columns: 2fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.heading {
  font-family: Vollkorn, serif;
  color: #fff;
}

.heading-2 {
  font-family: Vollkorn, serif;
  color: #fff;
}

.paragraph {
  color: #fff;
}

.heading-3 {
  font-family: Vollkorn, serif;
  color: #fff;
}

.list-item {
  color: #fff;
}

.list-item-2 {
  color: #fff;
}

.list-item-3 {
  color: #fff;
}

.list-item-4 {
  color: #fff;
}

